$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 35%;
$content-wrapper-width: 62%;
$article-max-width: 740px;
$post-margin-left: 38%;

$img: "../img";
$js: "../js";
$font: "../font";
$font-setting: 'Helvetica Neue', Helvetica, 'Noto Sans TC', Arial, Verdana, sans-serif;
$font-setting__body: normal 17px/1.5 'Helvetica Neue', 'Helvetica', Arial, 'Noto Sans TC', sans-serif;
// $link-color: #766257;
$link-color: #018dac;

%transit {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

%txt-deco-none {
  text-decoration: none;
}