{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/nasa-63032-unsplash--compressed.jpg)">
{% endif %}

  <div class="cover">

    <!-- <div class="cover__title">
      <p>Steven C.</p>
    </div> -->
    
    <div class="cover__text">
      <div class="heading">
        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a>
          {% endfor %}
        {% else %}
          {{ page.title }}
        {% endif %}

      </div>

      <p class="aside__page-summary">
        {% if page.summary %}
          {{ page.summary }}
        {% else %}
          <p class="aside__text">
            <span></span>
          </p>
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
