<footer class="blog-footer content-wrapper">
  <p>&copy; <span class="full-year"></span> Steven Chang</p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
<script src="{{ site.baseurl }}/assets/js/brands.min.js"></script>

<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"></script>
<script>
  AV.initialize("{{site.leancloud.app_id}}", "{{site.leancloud.app_key}}");
</script>
<script>
  console.log('111 counter works!');


  console.log('counter works!');

  function addCount(Counter) {


    var $visitors = $(".leancloud_visitors");
    var url = $visitors.attr('id').trim();
    console.log("TCL: addCount -> url", url);
    var title = $visitors.attr('data-flag-title').trim();
    var query = new AV.Query(Counter);


    query.equalTo("post_url", url);
    query.find({
      success: function (results) {
        if (results.length > 0) {
          var counter = results[0];
          counter.fetchWhenSave(true);
          counter.increment("visited_times");
          counter.save(null, {
            success: function (counter) {
              var $element = $(document.getElementById(url));
              var newTimes = counter.get('visited_times');
              $element.find('.leancloud-visitors-count').text(newTimes);
            },
            error: function (counter, error) {
              console.log('Failed to save Visitor num, with error message: ' +
                error.message);
            }
          });
        } else {

          var newcounter = new Counter();
          var acl = new AV.ACL();
          acl.setPublicReadAccess(true);
          acl.setPublicWriteAccess(true);
          newcounter.setACL(acl);
          newcounter.set("post_title", title);
          newcounter.set("post_url", url);
          newcounter.set("visited_times", 1);
          newcounter.save(null, {
            success: function (newcounter) {
              var $element = $(document.getElementById(url));
              var newTimes = newcounter.get('visited_times');
              $element.find('.leancloud-visitors-count').text(newTimes);
            },
            error: function (newcounter, error) {
              console.log('Failed to create');
            }
          });
        }
      },
      error: function (error) {
        console.log('Error:' + error.code + " " + error.message);
      }
    });
  }

  function showCount(Counter) {
    var $visitors = $(".leancloud_visitors");
    var url = $visitors.attr('id').trim();
    var title = $visitors.attr('data-flag-title').trim();
    var query = new AV.Query(Counter);


    query.equalTo("post_url", url);
    query.find({
      success: function (results) {
        if (results.length > 0) {
          var counter = results[0];
          var $element = $(document.getElementById(url));
          var newTimes = counter.get('visited_times');
          $element.find('.leancloud-visitors-count').text(newTimes);
        } else {
          console.log('异常情况，不应该没记录的');
        }
      },
      error: function (error) {
        console.log('Error:' + error.code + " " + error.message);
      }
    });
  }

  function judgeVisitor(ip) {
    var Counter = AV.Object.extend("visited_times");
    var Visitor = AV.Object.extend("visitors_record");

    var $postInfo = $(".leancloud_visitors");
    var post_url = $postInfo.attr('id').trim();

    var query = new AV.Query(Visitor);

    query.equalTo("visitor_ip", ip);
    query.equalTo("post_url", post_url);
    query.find({
      success: function (results) {
        if (results.length > 0) {
          console.log('该IP已访问过该文章');

          var oldVisitor = results[0];

          var lastTime = oldVisitor.updatedAt;
          var curTime = new Date();

          var timePassed = curTime.getTime() - lastTime.getTime();

          if (timePassed > 1 * 60 * 1000) {
            console.log('距离该IP上一次访问该文章已超过了1分钟，更新访问记录，并增加访问次数');

            addCount(Counter);

            oldVisitor.fetchWhenSave(true);
            oldVisitor.save(null, {
              success: function (oldVisitor) {},
              error: function (oldVisitor, error) {
                console.log(
                  'Failed to save visitor record, with error message: ' +
                  error.message);
              }
            });
          } else {
            console.log('这是该IP 1分钟内重复访问该文章，不更新访问记录，不增加访问次数');
            showCount(Counter);
          }
        } else {
          console.log('该IP第一次访问该文章，保存新的访问记录，并增加访问次数');

          addCount(Counter);

          var newVisitor = new Visitor();
          var acl = new AV.ACL();
          acl.setPublicReadAccess(true);
          acl.setPublicWriteAccess(true);
          newVisitor.setACL(acl);
          newVisitor.set("visitor_ip", ip);
          newVisitor.set("post_url", post_url);
          newVisitor.save(null, {
            success: function (newVisitor) {},
            error: function (newVisitor, error) {
              console.log(
                'Failed to create visitor record, with error message: ' +
                error.message);
            }
          });
        }
      },
      error: function (error) {
        console.log('Error:' + error.code + " " + error.message);
        addCount(Counter);
      }
    });
  }

  $(function () {
    if ($('.leancloud_visitors').length == 1) {
      console.log("TCL: if ($('.leancloud_visitors').length == 1)");
    } else if ($('.post-link').length > 1) {


    }
  });
</script>