---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  {%- assign date_format = site.setting.date_format | default: "%b %-d, %Y" -%}
  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: date_format }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
    {% include read_time.html %}
  </p>

  <div class="post-content">

    {{ content }}

    <div class="post-links">
      {% if page.next.url and page.next.visible != false %}
        <a class="link-to-post" href="{{ page.next.url | relative_url}}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ page.next.title }}</span>
        </a>
      {% endif %}

      {% if page.previous.url and page.previous.visible != false  %}
        <a class="link-to-post" href="{{ page.previous.url | relative_url}}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
    </div>
    <div class="post__comments">
      {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
      {% endif %}
    </div>
  </div>
</article>
